button {
  border: none;
  background: none;
  margin: 30px auto;
  transition: 0.2s;

  a {
    border: 3px double $color1;
    padding: 10px 30px;
    color: $color1;
    transition: 0.2s;
  }
  &:hover {
    transform: scale(1.05);
    a {
      background: $color1;
      color: $white;
    }
  }
}
